#car-1:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff3f41), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#ff3f41, #f5f5f5, #f5f5f5);
}

#car-2:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#2298dc), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#2298dc, #f5f5f5, #f5f5f5);
}

#car-3:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#065482), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#065482, #f5f5f5, #f5f5f5);
}

#car-4:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#29527f), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#29527f, #f5f5f5, #f5f5f5);
}

#car-5:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#00446d), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#00446d, #f5f5f5, #f5f5f5);
}

#car-6:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#00324f), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#00324f, #f5f5f5, #f5f5f5);
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 12px;
}

.navbar {
  background-color: #037cc3;
}

.navbar .container-fluid a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 11px 15px;
  border-right: 1px solid rgba(204, 189, 189, 0.611);
}

.navbar .container-fluid .navbar-brand {
  margin: 0;
}

.navbar .container-fluid .navbar-brand img {
  width: 38px;
}

.navbar .container-fluid .navbar-right ul li a {
  padding: 11px 15px;
}

.navVehicles_dropdown {
  background-color: #3e6989;
  display: none;
}

.navVehicles_dropdown.isHide {
  display: block;
}

.navVehicles_dropdown .navVehicles_dropdown__Big {
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.navVehicles_dropdown .navVehicles_dropdown__Big .navVehicles_dropdown__List {
  padding: 15px 0;
}

.navVehicles_dropdown .navVehicles_dropdown__Big .navVehicles_dropdown__List a {
  text-decoration: none;
  color: #2198dc;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 30px;
  border-right: 1px solid rgba(204, 189, 189, 0.611);
  white-space: nowrap;
  text-align: center;
}

.navVehicles_dropdown .navVehicles_dropdown__Big .navVehicles_dropdown__List a:hover {
  color: #2198dc;
}

.navVehicles_dropdown .navVehicles_dropdown__Big .navVehicles_dropdown__BigCover {
  background-color: #f5f5f5;
  padding-top: 15px;
}

.navVehicles_dropdown .navVehicles_dropdown__Big .navVehicles_dropdown__BigCover .navVehicles_dropdown__detail {
  width: 90%;
  margin: 0 auto;
  padding: 25px 0;
  background-color: #f5f5f5;
}

.navVehicles_dropdown .navVehicles_dropdown__Big .navVehicles_dropdown__BigCover .navVehicles_dropdown__detail .navVehicles_dropdown__hr .navVehicles_dropdown__hr_modify {
  position: relative;
  top: -30px;
  color: #00324f;
  font-size: 1.8rem;
}

.navVehicles_dropdown .navVehicles_dropdown__Big .navVehicles_dropdown__BigCover .navVehicles_dropdown__detail .navVehicles_dropdown__hr .navVehicles_dropdown__hr_modify p {
  font-weight: bold;
  background-color: #f5f5f5;
}

.navVehicles_dropdown .navVehicles_dropdown__Big .navVehicles_dropdown__BigCover .navVehicles_dropdown__detail .navVehicles_dropdown__hr .navVehicles_dropdown__hr_modify p i {
  font-size: 1.6rem;
}

.navVehicles_dropdown .navVehicles_dropdown__Big .navVehicles_dropdown__BigCover .navVehicles_dropdown__detail .navVehicles_dropdown__hr .navVehicles_dropdown__hr_modify p span {
  font-weight: normal;
}

.navVehicles_dropdown .navVehicles_dropdown__Big .navVehicles_dropdown__BigCover .navVehicles_dropdown__Cars {
  width: 90%;
  margin: 0 auto;
  color: #00324f;
}

.navVehicles_dropdown .navVehicles_dropdown__Big .navVehicles_dropdown__BigCover .navVehicles_dropdown__Cars .navVehicles_dropdown__items {
  background: -webkit-gradient(linear, left top, left bottom, from(#3e6989), color-stop(#f5f5f5), to(#f5f5f5));
  background: linear-gradient(#3e6989, #f5f5f5, #f5f5f5);
  margin-bottom: 30px;
}

.navVehicles_dropdown .navVehicles_dropdown__Big .navVehicles_dropdown__BigCover .navVehicles_dropdown__Cars .navVehicles_dropdown__items:hover > #xe-1 {
  display: none;
}

.navVehicles_dropdown .navVehicles_dropdown__Big .navVehicles_dropdown__BigCover .navVehicles_dropdown__Cars .navVehicles_dropdown__items:hover > #xe-2 {
  display: block;
}

.navVehicles_dropdown .navVehicles_dropdown__Big .navVehicles_dropdown__BigCover .navVehicles_dropdown__Cars .navVehicles_dropdown__items #xe-2 {
  display: none;
}

.navVehicles_dropdown .navVehicles_dropdown__Big .navVehicles_dropdown__BigCover .navVehicles_dropdown__Cars .navVehicles_dropdown__items h3 {
  font-size: 1.6rem;
  font-weight: bold;
}

.navVehicles_dropdown .navVehicles_dropdown__Big .navVehicles_dropdown__BigCover .navVehicles_dropdown__Cars .navVehicles_dropdown__items .navVehicles_dropdown__content h4 {
  font-size: 2.3rem;
  font-weight: normal;
}

.navVehicles_dropdown .navVehicles_dropdown__Big .navVehicles_dropdown__BigCover .navVehicles_dropdown__Cars .navVehicles_dropdown__items .navVehicles_dropdown__content p {
  font-size: 1.3rem;
  font-weight: normal;
}

.navVehicles_dropdown__button .explore {
  border: 2px solid #2298dc;
  background-color: #2298dc;
  padding: 6px 30px;
  color: #fff;
  border-radius: 40px;
  font-size: 1.4rem;
  font-weight: bold;
}

.navVehicles_dropdown__button .explore:hover {
  background-color: #fff;
  color: #037cc3;
}

.navVehicles_dropdown__button .build {
  border: 2px solid #2298dc;
  background-color: #fff;
  padding: 6px 30px;
  color: #037cc3;
  border-radius: 40px;
  font-size: 1.4rem;
  font-weight: bold;
}

.navVehicles_dropdown__button .build:hover {
  background-color: #2298dc;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */