//--------COLOR---------
$color-white: #fff;
$color-blue-1: #037cc3;
$color-blue-2: #2298dc;
$color-blue-3: #065482;
$color-blue-4: #29527f;
$color-blue-5: #00446d;
$color-blue-6: #00324f;
$color-blue-7: #02131d;
$color-blue-8: #3e6989;
$color-blue-9: #2198dc;
$color-grey-1: #f5f5f5;
$color-black: #000000;
$color-red: #ff3f41;
$color-border-white: 0.5px solid rgba(255, 255, 255, 0.611);
$color-border-white: 1px solid rgba(204, 189, 189, 0.611);

//-------FONTSIZE
$font-size-html: 16px;
$font-size-0: 1.4rem;
$font-size-1: 1.8rem;
$font-size-2: 4rem;
$font-size-3: 6rem;
$font-size-4: 1.6rem;
$font-size-5: 2.3rem;
$font-size-6: 1.3rem;

$font-weight-bold: bold;
$font-weight-normal: normal;
$font-weight-300: 300;

//--------PADDING-----
$pd-1: 15px;
$pd-2: 20px;
$pd-3: 25px;
$pd-4: 30px;
$pd-5: 50px;
$pd-6: 6px;

//--------MARGIN------
$mg-up: -200px;
$mg-up-1: -30px;
$mg-1: 20px;
$mg-2: 30px;
$mg-3: 450px;
$mg-4: 60px;
$mg-5: 100px;
